# Configuration file

abyssalnite {
    S:color=0x5924a9
    D:energyModifier=1.0
    S:extra=Abyssalnite
    S:extra2=Abyssalnite
    S:extra3=Abyssalnite
    B:hasEffect=false
    I:maInputAmount=8
    I:maOutputAmount=4
    I:maTier=3
    D:maacGrowthChance=0.9
    S:moduleBlacklist <
     >
    D:rarity=1.0
    I:teNumismValue=32000
}


aluminium {
    S:color=0x73767b
    D:energyModifier=1.0
    S:extra=Iron
    S:extra2=Aluminium
    S:extra3=Aluminium
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


amber {
    S:color=0x935c14
    D:energyModifier=1.0
    S:extra=Amber
    S:extra2=Amber
    S:extra3=Amber
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


amethyst {
    S:color=0x4c1e51
    D:energyModifier=1.0
    S:extra=Amethyst
    S:extra2=Amethyst
    S:extra3=Amethyst
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


apatite {
    S:color=0x3a9cdc
    D:energyModifier=1.0
    S:extra=Apatite
    S:extra2=Apatite
    S:extra3=Apatite
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


aqua_middle_gem {
    S:color=0xe2656
    D:energyModifier=1.0
    S:extra=AquaMiddleGem
    S:extra2=AquaMiddleGem
    S:extra3=AquaMiddleGem
    B:hasEffect=false
    I:maInputAmount=8
    I:maOutputAmount=6
    I:maTier=3
    D:maacGrowthChance=0.9
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


aquamarine {
    S:color=0x14a4fc
    D:energyModifier=1.0
    S:extra=Aquamarine
    S:extra2=Aquamarine
    S:extra3=Aquamarine
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


ardite {
    S:color=0xbd4214
    D:energyModifier=1.0
    S:extra=Gold
    S:extra2=Ardite
    S:extra3=Ardite
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
    I:teNumismValue=32000
}


astral_starmetal {
    S:color=0x4467d8
    D:energyModifier=1.0
    S:extra=AstralStarmetal
    S:extra2=AstralStarmetal
    S:extra3=AstralStarmetal
    B:hasEffect=false
    I:maInputAmount=8
    I:maOutputAmount=4
    I:maTier=3
    D:maacGrowthChance=0.9
    S:moduleBlacklist <
     >
    D:rarity=1.0
    I:teNumismValue=32000
}


coal {
    S:color=0x1c1c1c
    D:energyModifier=1.0
    S:extra=Coal
    S:extra2=Coal
    S:extra3=Coal
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


cobalt {
    S:color=0x1960bd
    D:energyModifier=1.0
    S:extra=Iron
    S:extra2=Cobalt
    S:extra3=Cobalt
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
    I:teNumismValue=32000
}


copper {
    S:color=0xce864f
    D:energyModifier=1.0
    S:extra=Gold
    S:extra2=Copper
    S:extra3=Copper
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


coralium {
    S:color=0x182c54
    D:energyModifier=1.0
    S:extra=Coralium
    S:extra2=Coralium
    S:extra3=Coralium
    B:hasEffect=false
    I:maInputAmount=8
    I:maOutputAmount=6
    I:maTier=3
    D:maacGrowthChance=0.9
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


crimson_middle_gem {
    S:color=0x6c0404
    D:energyModifier=1.0
    S:extra=CrimsonMiddleGem
    S:extra2=CrimsonMiddleGem
    S:extra3=CrimsonMiddleGem
    B:hasEffect=false
    I:maInputAmount=8
    I:maOutputAmount=6
    I:maTier=3
    D:maacGrowthChance=0.9
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


dark {
    S:color=0x141414
    D:energyModifier=1.0
    S:extra=Dark
    S:extra2=Dark
    S:extra3=Dark
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


diamond {
    S:color=0x6cedd8
    D:energyModifier=1.0
    S:extra=Diamond
    S:extra2=Diamond
    S:extra3=Diamond
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


draconium {
    S:color=0xd6acf6
    D:energyModifier=1.0
    S:extra=Draconium
    S:extra2=Draconium
    S:extra3=Draconium
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
    I:teNumismValue=32000
}


emerald {
    S:color=0x48d25
    D:energyModifier=1.0
    S:extra=Emerald
    S:extra2=Emerald
    S:extra3=Emerald
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


ender_biotite {
    S:color=0xc0c14
    D:energyModifier=1.0
    S:extra=EnderBiotite
    S:extra2=EnderBiotite
    S:extra3=EnderBiotite
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


gold {
    S:color=0x4e4e04
    D:energyModifier=1.0
    S:extra=Gold
    S:extra2=Gold
    S:extra3=Gold
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


green_middle_gem {
    S:color=0xa620a
    D:energyModifier=1.0
    S:extra=GreenMiddleGem
    S:extra2=GreenMiddleGem
    S:extra3=GreenMiddleGem
    B:hasEffect=false
    I:maInputAmount=8
    I:maOutputAmount=6
    I:maTier=3
    D:maacGrowthChance=0.9
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


iridium {
    S:color=0x99a4be
    D:energyModifier=1.0
    S:extra=Platinum
    S:extra2=Iridium
    S:extra3=Iridium
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


iron {
    S:color=0x545454
    D:energyModifier=1.0
    S:extra=Nickel
    S:extra2=Iron
    S:extra3=Iron
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


jaopca {
    B:dust=true
    B:gem=true
    B:gem_oreless=false
    B:ingot=true
    B:ingot_oreless=false
    S:moduleBlacklist <
     >
    S:oreConflictPrecedence <
     >
    S:orePreference <
     >
    S:oreShouldBeDust <
        Redstone
     >
    S:oreShouldBeGem <
        Coal
        Lapis
        Diamond
        Emerald
        Quartz
     >

    # Set to true to reload color configs.
    B:reloadColorConfigs=false
}


lapis {
    S:color=0x204ca4
    D:energyModifier=1.0
    S:extra=Lapis
    S:extra2=Lapis
    S:extra3=Lapis
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


lead {
    S:color=0x545b6f
    D:energyModifier=1.0
    S:extra=Silver
    S:extra2=Lead
    S:extra3=Lead
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


life_crystal {
    S:color=0x6c6c6c
    D:energyModifier=1.0
    S:extra=LifeCrystal
    S:extra2=LifeCrystal
    S:extra3=LifeCrystal
    B:hasEffect=false
    I:maInputAmount=8
    I:maOutputAmount=6
    I:maTier=3
    D:maacGrowthChance=0.9
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


liquified_coralium {
    S:color=0x14a46e
    D:energyModifier=1.0
    S:extra=LiquifiedCoralium
    S:extra2=LiquifiedCoralium
    S:extra3=LiquifiedCoralium
    B:hasEffect=false
    I:maInputAmount=8
    I:maOutputAmount=4
    I:maTier=3
    D:maacGrowthChance=0.9
    S:moduleBlacklist <
     >
    D:rarity=1.0
    I:teNumismValue=32000
}


magnetite {
    D:energyModifier=1.0
    S:extra=Magnetite
    S:extra2=Magnetite
    S:extra3=Magnetite
    B:hasEffect=false
    I:maInputAmount=3
    I:maOutputAmount=5
    I:maTier=3
    D:maacGrowthChance=0.9
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


malachite {
    S:color=0xc8ecdc
    D:energyModifier=1.0
    S:extra=Malachite
    S:extra2=Malachite
    S:extra3=Malachite
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


mithril {
    S:color=0x3c5360
    D:energyModifier=1.0
    S:extra=Gold
    S:extra2=Mithril
    S:extra3=Mithril
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


nickel {
    S:color=0xe6e7c9
    D:energyModifier=1.0
    S:extra=Platinum
    S:extra2=Nickel
    S:extra3=Nickel
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


octine {
    S:color=0xf4a414
    D:energyModifier=1.0
    S:extra=Octine
    S:extra2=Octine
    S:extra3=Octine
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
    I:teNumismValue=32000
}


peridot {
    S:color=0xa9ce84
    D:energyModifier=1.0
    S:extra=Peridot
    S:extra2=Peridot
    S:extra3=Peridot
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


platinum {
    S:color=0x4aacdf
    D:energyModifier=1.0
    S:extra=Iridium
    S:extra2=Platinum
    S:extra3=Platinum
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


quartz {
    S:color=0x5c4c3c
    D:energyModifier=1.0
    S:extra=Quartz
    S:extra2=Quartz
    S:extra3=Quartz
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


redstone {
    S:color=0x4c0404
    D:energyModifier=1.0
    S:extra=Redstone
    S:extra2=Redstone
    S:extra3=Redstone
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


ruby {
    S:color=0x490c19
    D:energyModifier=1.0
    S:extra=Ruby
    S:extra2=Ruby
    S:extra3=Ruby
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


saltpeter {
    S:color=0xc7c5c0
    D:energyModifier=1.0
    S:extra=Saltpeter
    S:extra2=Saltpeter
    S:extra3=Saltpeter
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


sapphire {
    S:color=0x368cb4
    D:energyModifier=1.0
    S:extra=Sapphire
    S:extra2=Sapphire
    S:extra3=Sapphire
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


silver {
    S:color=0xb8c3c8
    D:energyModifier=1.0
    S:extra=Lead
    S:extra2=Silver
    S:extra3=Silver
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


sulfur {
    S:color=0xd0ba43
    D:energyModifier=1.0
    S:extra=Sulfur
    S:extra2=Sulfur
    S:extra3=Sulfur
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


syrmorite {
    S:color=0x425ca0
    D:energyModifier=1.0
    S:extra=Syrmorite
    S:extra2=Syrmorite
    S:extra3=Syrmorite
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
    I:teNumismValue=32000
}


tanzanite {
    S:color=0xa969e1
    D:energyModifier=1.0
    S:extra=Tanzanite
    S:extra2=Tanzanite
    S:extra3=Tanzanite
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


tin {
    S:color=0x7992a0
    D:energyModifier=1.0
    S:extra=Iron
    S:extra2=Tin
    S:extra3=Tin
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


topaz {
    S:color=0xf8ceb6
    D:energyModifier=1.0
    S:extra=Topaz
    S:extra2=Topaz
    S:extra3=Topaz
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


uranium {
    S:color=0x7c9474
    D:energyModifier=1.0
    S:extra=Uranium
    S:extra2=Uranium
    S:extra3=Uranium
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
    I:teNumismValue=32000
}


valonite {
    S:color=0xccb4cc
    D:energyModifier=1.0
    S:extra=Valonite
    S:extra2=Valonite
    S:extra3=Valonite
    B:hasEffect=false
    S:moduleBlacklist <
     >
    D:rarity=1.0
}


